.card__wrap {
  background-color: #fff;
}

.card__block {
  display: flex;
  justify-content: space-between;
  min-height: 580px;
}

.card__slider {
  position: relative;
  width: 655px;
  height: 580px;
  padding-left: 30px;
  display: flex;
}

.card__info {
  width: 475px;
  padding-right: 50px;
  padding-bottom: 40px;
  line-height: 1.7;
}

.card__number {
  display: flex;
  justify-content: flex-start;
  width: 131px;
  margin-top: 50px;
  border: 2px solid #808080;
}

.card__more {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
}

.card__value {
  display: block;
  width: 47px;
  height: 40px;
  text-align: center;
  color: #000000;
  line-height: 40px;
  font-weight: 500;
}

.card__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.card__price {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: @red;
}

.card__view {
  height: 100%;
  width: 80%;
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  img {
    max-height: 100%;
  }
}

.gallery-top {
  height: auto;
  width: 80%;
}
.gallery-thumbs {
  width: 20%;
  box-sizing: border-box;
  margin: 40px 0;
}
.gallery-thumbs .swiper-slide {
  width: 100%;
  height: 25% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid rgba(255,255,255,0);
  overflow: hidden;
  opacity: 1;
  box-sizing: border-box;
  
  img {
    display: block;
    max-height: 100%;
  }
}
.gallery-thumbs .swiper-slide-thumb-active {
  border: 2px solid #808080;
}
.card__slide {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  img {
    display: block;
    max-height: 100%;
  }
}
.card__prev,
.card__next {
  margin-top: 0;
  left: 80px;
  background-image: url(../img/icons/icon-next-dark.svg);
  background-size: 24px 29px;
}
.card__next {
  bottom: 0;
  top: auto;
  transform: rotate(90deg);
}
.card__prev {
  top: 0;
  transform: rotate(-90deg);
}
