.menu__btn {
  display: none;
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  
  &:hover,
  &:active {
    .menu__link {
      color: #8E2841;
      .transition();
    }
  }
  &--active {
    .menu__link {
      border: 1px solid #8E2841;
      
      &:hover,
      &:active {
        color: #1A1A1A;
      }
    }
  }
}

.menu__link {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  .transition();
}

.menu__sublist {
  display: none;
}
